/*
========================================================================================
    GENERAL
========================================================================================
*/

process {
    withName: 'BEDTOOLS_SLOP' {
        ext.args   = { "-b ${params.flank}" }
        ext.prefix = { "myfavouritebedever" }
        publishDir = [
            enabled: false
        ]
    }

    withName: 'BEDTOOLS_GETFASTA' {
        ext.args   = { "-s" }
        publishDir = [
            path: { "${params.outdir}" },
            mode: "${params.publish_dir_mode}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
